<footer>
    <div class="class-info">
        <div class="f-info-socials">
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
        <div>&copy;2024 Wanderlust Private Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            .
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>